.container {
  margin: 20px 0px;
  width: calc(100vw - 20px);
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: var(--color-background-2);
}

.pagination {
  font-weight: 800 !important;
}
