:root {
  --color-background-1: #182138;
  --color-background-2: #32426a;
  --color-dark: #182138;
  --color-background-gradient: linear-gradient(
    347deg,
    rgb(20, 28, 49) 0%,
    rgba(50, 66, 105, 1) 60%,
    rgba(24, 33, 56, 1) 100%
  );
  --color-header-background: #465e86;
  --color-text-primary: #3795ca;
  --color-text-white: #e9e9e9;
  --color-text-grey: rgb(210, 211, 226);
}
